<html xmlns:th="http://www.thymeleaf.org"  th:replace="layout :: common_layout(~{::title},~{::content})">
<head>
    <meta charset="UTF-8"/>
    <title>学员列表</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{js/jquery.js}" type="text/javascript"></script>
    <script th:src="@{~/js/bootstrap.js}" type="text/javascript"></script>
    <!--<script th:src="@{https://cdn.staticfile.org/vue/2.2.2/vue.min.js}"></script>
    <script th:src="@{https://cdn.staticfile.org/axios/0.18.0/axios.min.js}"></script>-->
    <script src="../../js/jquery.js"></script>
    <script src="https://cdn.staticfile.org/vue/s2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="../../js/bootstrap.js"></script>
</head>
<body>
    <content>
        <th:block th:if="${students!=null}" th:replace="layout/header :: header"  ></th:block>
        <div >
        <br/>
        <h1>学员列表</h1>
        <br/><br/>
        <div class="with:80%">
            <table class="table table-hover">
                <thead>
                <tr>
                    <!--<th>#</th>-->
                    <th>学员姓名</th>
                    <th>证件号码</th>
                    <th>手机号</th>
                    <th>详细信息</th>
                    <th>编辑</th>
                    <th>删除</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="state" type="com"*/-->
                <tr  th:each="student : ${studentsList}"
                     th:class="${student.id%2==0 ? 'success':'info'}">
                    <!--<th scope="row" th:text="${user.id}">1</th>-->
                    <td th:text="${student.userName}">neo</td>
                    <td th:text="${student.certNumber}">neo@126.com</td>
                    <td th:text="${student.phoneNumber}">User</td>

                    <td style="width: 120px">
                        <a href="/user/toAddUser" th:href="@{/student/studentDetail(id=${student.id})}"
                           class="btn btn-primary btn-xs"  >详细信息</a></td>

                    <td style="width: 120px">
                        <a href="/user/toAddUser" th:href="@{/student/toEditStudent(id=${student.id})}"
                           class="btn btn-primary btn-xs"  >修改</a></td>
                    <td>
                        <a th:if="${session.LOGIN_SESSION_ROLE}==0" th:href="@{/student/deleteStudent(id=${student.id})}"
                           class="btn btn-primary btn-xs" onclick="return confirm('确认是否删除此用户？')"> 删除</a></td>

                  <!--  <td style="width: 120px">
                        <a href="#" class="btn btn-primary btn-xs" data-toggle="modal"
                           data-target="#userInsertAndUpdateDialog"
                           th:onclick="|editUser(|+${student.id}+|)|">修改</a> </td>
                    <td style="width: 120px">
                        <a href="#" class="btn btn-danger btn-xs"
                                                 th:onclick="|deleteUser(|+${user.id}+|)|">删除</a></td>-->
                    <!--<td><a th:href="@{/toEdit(id=${user.id})}"  th:if="${user.role !='1'}" >edit</a></td>
                    <td><a th:href="@{/delete(id=${user.id})}"  onclick="return confirm('确认是否删除此用户？')"  th:if="${user.role !='1'}" >delete</a></td>-->
                </tr>
                </tbody>
            </table>
            <div th:include="page :: pager(${page},'/student/studentList', 'cpage')" th:remove="tag"></div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">
                <a href="/student/toAddStudent" th:href="@{/student/toAddStudent}" class="btn btn-info">添加</a>
            </div>
        </div>
        </div>
        <br/><br/>

        <br/><br/>

        <!--<div class="with:80%">
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <a th:if="${session.LOGIN_SESSION_ROLE}==0" th:href="@{/user/userList}"   class="btn btn-info">用户列表</a>
                </div>
            </div>
        </div>-->
    </content>
    <div class="modal fade" id="userInsertAndUpdateDialog" data-backdrop="static"
         tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">修改用户信息</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" id="user_form" th:action="@{/user}"
                          method="get">
                        <div class="form-group">
                            <label for="id" class="col-sm-2 control-label">用户代码</label>
                            <div class="col-sm-10">
                                <input type="text" th:readonly="true" class="form-control"
                                       id="user_id" placeholder="客户代码" name="id" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_name" class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="user_name"
                                       placeholder="客户名称" name="name" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="user_age" class="col-sm-2 control-label">年&nbsp&nbsp&nbsp&nbsp龄</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="user_age"
                                       placeholder="年龄" name="age" />
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            onclick="clear()">关闭</button>
                    <button type="button" id="modifybutton" class="btn btn-primary"
                            onclick="updateUser()">保存修改</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function editUser(id) {
            $("#modifybutton").html("保存修改");
            $.ajax({
                type : "post",
                url : "/edit",
                data : {
                    "id" : id
                },
                success : function(data) {
                    $("#user_id").val(data.id);
                    $("#user_name").val(data.name);
                    $("#user_age").val(data.age);
                }
            });
        }
        function clearB() {
            $("#modifybutton").html("添加用户");
            $("#user_id").val("");
            $("#user_name").val("");
            $("#user_age").val("");

        }
        // 执行修改客户操作
        function updateUser() {
            var flag = $("#modifybutton").text();
            if (flag == "保存修改") {
                $.post("/user/update", $("#user_form").serialize(), function(
                    data) {
                    if (data == "OK") {
                        alert("更新成功！");
                        window.location.reload();
                    } else {
                        alert("更新失败！");
                        window.location.reload();
                    }
                });
            } else {
                $.post("/user/insert", $("#user_form").serialize(), function(
                    data) {
                    if (data == "OK") {
                        alert("添加成功！");
                        window.location.reload();
                    } else {
                        alert("添加失败！");
                        window.location.reload();
                    }
                });
            }
        }
        // 删除客户
        function deleteUser(id) {
            if (confirm('确实要删除该条记录吗?')) {
                $.post("/user/delete", {
                    "id" : id
                }, function(data) {
                    if (data == "OK") {
                        alert("删除成功！");
                        window.location.reload();
                    } else {
                        alert("删除失败！");
                        window.location.reload();
                    }
                });
            }
        }
    </script>
</body>

</html>
