<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>user</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
    <link rel="stylesheet" th:href="@{/css/layui.css}">
    <script th:src="@{/js/layui.js}"></script>
</head>
<body class="container">
<div class="container">
    <div class="with:60%">
        <!--<div style="margin: 10px 90px;">没有账户？先去<a  th:href="@{/toRegister}">注册</a></div>-->
        <div class="row">

            <form class="form-horizontal" th:action="@{/login}" method="post">
                <div class="form-group">
                    <h1>登录</h1>
                </div>
                <div class="form-group">
                    <label for="loginName" class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="loginName" id="loginName" placeholder="用户名"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">密 &nbsp; 码</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" name="password" id="password" placeholder="密码"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-6">
                        <div th:if="${errorMsg != null}" class="alert alert-danger" role="alert" th:text="${errorMsg}">

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" value="登录" class="btn btn-info"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
