<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="page">
<body>
<div th:fragment="pager2">
    <div align="center" style="margin-top:2%;">
        总共<a th:text="${page.pages}"/>页|
        第<a th:text="${page.getPageNum()}"/>页|
        <a th:href="@{/(page=${page.navigateFirstPage})}" class="f">首页</a>|
        <a th:href="@{/(page=${page.prePage})}" class="f">上一页</a>|
        <a th:href="@{/(page=${page.nextPage})}" class="la">下一页</a>|
        <a th:href="@{/(page=${page.navigateLastPage})}" class="la">尾页</a>
        <input type="hidden" id="first" th:value="${page.getPageNum()}"/>
        <input type="hidden" id="last" th:value="${page.pages}"/>
    </div>
</div>
</body>
<script type="text/javascript">
    $(function () {
        pageNum = $("#first").val();
        lastPage = $("#last").val();
        if (lastPage == pageNum) {

            $('.la').removeAttr('href');//去掉a标签中的href属性
            $('.la').removeAttr('onclick');//去掉a标签中的onclick事件
        } else {
            if (pageNum == 1) {
                $('.f').removeAttr('href');//去掉a标签中的href属性
                $('.f').removeAttr('onclick');//去掉a标签中的onclick事件

            } else if (pageNum != 1) {
                $('.f').attr('', 'href');//添加a标签中的href属性
                $('.f').attr('', 'onclick');//添加a标签中的onclick事件)
            }
            $('.la').attr('', 'href');//添加a标签中的href属性
            $('.la').attr('', 'onclick');//添加a标签中的onclick事件)

        }

        /*if(lastPage==pageNum){
            $('.l').removeAttr('href');//去掉a标签中的href属性
            $('.l').removeAttr('onclick');//去掉a标签中的onclick事件
        }else{
            $('.l').attr('','href');//添加a标签中的href属性
            $('.l').attr('','onclick');//添加a标签中的onclick事件)
        }*/
    });
</script>
</html>