<html xmlns:th="http://www.thymeleaf.org"  th:replace="layout :: common_layout(~{::title},~{::content})">
<head>
    <meta charset="UTF-8"/>
    <title>批次列表</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
    <!--<script th:src="@{https://cdn.staticfile.org/vue/2.2.2/vue.min.js}"></script>
    <script th:src="@{https://cdn.staticfile.org/axios/0.18.0/axios.min.js}"></script>-->
    <script src="../../js/jquery.js"></script>
    <script src="https://cdn.staticfile.org/vue/s2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="../../js/bootstrap.js"></script>
</head>
<body>
    <content>
        <th:block th:if="${users!=null}" th:replace="layout/header :: header"  ></th:block>
        <div >
        <br/>
        <h1>批次列表</h1>
            <div class="form-group right" th:align="left" th:cellpadding="right">
                <div class="col-sm-2 control-label">
                    <a  th:href="@{/batch/toAddBatch}" class="btn btn-info">添加批次</a>
                </div>
            </div>
        <br/><br/>
        <div class="with:80%">

            <table class="table table-hover">
                <thead>
                <tr>
                    <!--<th>#</th>-->
                    <th>批次</th>
                    <th>编辑</th>
                    <th>删除</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="state" type="com"*/-->
                <tr  th:each="batch : ${batchList}"
                     th:class="${batch.id%2==0 ? 'success':'info'}">
                    <!--<th scope="row" th:text="${user.id}">1</th>-->
                    <td th:text="${batch.name}">neo</td>
                    <!--<td style="width: 120px">
                        <a href="#" class="btn btn-primary btn-xs" data-toggle="modal"
                           data-target="#userInsertAndUpdateDialog"
                           th:onclick="|editUser(|+${user.id}+|)|">修改</a> </td>
                    <td style="width: 120px">
                        <a href="#" class="btn btn-danger btn-xs"
                                                 th:onclick="|deleteUser(|+${user.id}+|)|">删除</a></td>-->
                    <td style="width: 120px">
                        <a  th:href="@{/batch/toEditBatch(id=${batch.id})}"
                           class="btn btn-primary btn-xs"  >修改</a></td>
                    <td>
                        <a th:href="@{/batch/deleteBatch(id=${batch.id})}"
                           class="btn btn-primary btn-xs" onclick="return confirm('确认是否删除此批次信息？')"> 删除</a></td>
                </tr>
                </tbody>
            </table>
            <div th:include="page :: pager(${page},'/batch/batchList', 'cpage')" th:remove="tag"></div>
        </div>

        </div>
    </content>


</body>

</html>
